$first-p: #1e6305;
$second-p: #bdff00;
$grad-angle: 90deg;

$primary: #4ac205;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~bootstrap/scss/bootstrap";

body {
        font-family: 'Quicksand' !important;
}

.container-box {}

.main-box {}

.error-box {
        position: absolute;
        bottom: 10%;
        right: 2%;
}

.navbar-brand {
        font-size: 2rem;
        font-weight: 700;

}

.nav-link {
        font-size: 1.5rem;
        font-weight: 500;

}

.btn { 
        box-shadow: 0 0.125rem 0.625rem rgba(74,194,5,0.4), 0 0.0625rem 0.125rem rgba(74,194,5,0.5)
}


@media screen and (max-width: 600px) {
        h1 {
                font-size: 2rem;
        }

        h2 {
                font-size: 1.5rem;
        }

        div.component-container {
                padding: 1rem !important;
        }

        div.shadowed-container {
                padding: 2rem !important;
        }
}


#nprogress {
        pointer-events: none !important;
}

#nprogress .bar {
        background: #bdff00 !important;
        background: -webkit-linear-gradient($grad-angle, $first-p, $second-p) !important;
        background: linear-gradient($grad-angle, $first-p, $second-p) !important;
       
        position: fixed !important;
        z-index: 10000 !important;
        top: 0 !important;
        left: 0 !important;

        width: 100% !important;
        height: 4px !important;
}

/* Fancy blur effect */
#nprogress .peg {
        display: block !important;
        position: absolute !important;
        right: 0px !important;
        width: 100px !important;
        height: 100% !important;
        box-shadow: 0 0 10px $second-p, 0 0 5px $second-p !important;
        opacity: 1 !important;

        -webkit-transform: rotate(3deg) translate(0px, -4px) !important;
        -ms-transform: rotate(3deg) translate(0px, -4px) !important;
        transform: rotate(3deg) translate(0px, -4px) !important;
}
