$first-p: #1e6305;
$second-p: #bdff00;
$grad-angle: 90deg;

$primary: #4ac205;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~bootstrap/scss/bootstrap";

body {
        font-family: 'Quicksand' !important;
}

.container-box {}

.main-box {}

.navbar-brand {
        font-size: 2rem;
        font-weight: 700;

}

.nav-link {
        font-size: 1.25rem;
        font-weight: 500;

}


@media screen and (max-width: 600px) {
        h1 {
                font-size: 2rem;
        }

        h2 {
                font-size: 1.5rem;
        }

        div.component-container {
                padding: 1rem !important;
        }

        div.shadowed-container {
                padding: 2rem !important;
        }
}


#nprogress {
        pointer-events: none;
}

#nprogress .bar {
        background: #bdff00;
        background: -webkit-linear-gradient($grad-angle, $first-p, $second-p);
        background: linear-gradient($grad-angle, $first-p, $second-p);
       
        position: fixed;
        z-index: 10000;
        top: 0;
        left: 0;

        width: 100%;
        height: 4px;
}

/* Fancy blur effect */
#nprogress .peg {
        display: block;
        position: absolute;
        right: 0px;
        width: 100px;
        height: 100%;
        box-shadow: 0 0 10px $second-p, 0 0 5px $second-p;
        opacity: 1;

        -webkit-transform: rotate(3deg) translate(0px, -4px);
        -ms-transform: rotate(3deg) translate(0px, -4px);
        transform: rotate(3deg) translate(0px, -4px);
}
